.slider{
 
   height:570px ;
   margin-left:30%;
   bottom:60px;
   position: fixed;
   width:500px;
   
   overflow:hidden;
   }
   
   .slider ul{
   display:flex;
   padding:0;
   width:400%;
   animation: cambio 20s infinite alternate ;
   
   }
   .slider li{
   width:100%;
   list-style:none;
   
   }
   .slider img{
   width:100%;
   
   }
   @keyframes cambio{
   0% {margin-left:0;}
   15% {margin-left:0;}
   
   25% {margin-left:-100%;}
   45% {margin-left:-100%;}
   
   50% {margin-left:-200%;}
   70% {margin-left:-200%;}
   
   75% {margin-left:-300%;}
   100% {margin-left:-300%;}
   
   }
   
   
   body{
   background-color:blue;
   color:white;
   
   }
   .borde{
      position: relative;
  border:1px solid rgb(158, 175, 6);
  margin-left:10px;
  width:29%;
  margin-top:-30px;
  background: rgb(9, 151, 4);
margin-top: 40px;
  
  }
  header nav{
   position:fixed;
   background-color: rgb(216, 219, 15); 
   color:red;
   overflow: hidden;
   width:65%;
   margin-left: 440px;
   font-size: 22px;
   bottom:7px;
 

}
header nav ul{
   list-style: none;

}
header nav ul li a{
 
   color: rgb(0, 0, 0);
   text-decoration: none;
   margin-left: 100px;
  
  
}

header nav ul li {
float: left;

}
header nav ul li a:hover{
background: rgb(12, 24, 185);
}
h1{
   position: fixed;
font-size:50px;
color:rgb(251, 255, 0);
bottom:576px;
margin-left:470px;

}
.wilian{
position:fixed;
   margin-left: 930px;
   height:620px ;
   margin-top: 5px;

}
.fondoletra{
   background: rgb(253, 66, 113);
}
.fondoletra2{
   background: rgb(66, 231, 253);
   color:black;
}

